
<div style="background-color:#CCCCCC; padding:12px; border-radius:8px;">
<h1 style="color:#003366; text-align:center; margin:8px 0;">Revisión y limpieza de 3 DataFrames (TPI - Data Analytics)</h1>
<p style="text-align:center; color:#003366; margin:0;"><em>Notebook docente en castellano — nombres descriptivos en snake_case — código y documentación</em></p>
</div>


<div style="background-color:#CCCCCC; padding:10px; border-radius:6px;">
<h2 style="color:black; text-align:center; margin-top:6px;">Resumen</h2>

<p style="color:black;">
Este notebook está diseñado con finalidades pedagógicas. Revisa, normaliza y valida tres datasets contenidos en CSV:
</p>

<ul style="color:black;">
<li><code>marketing.csv</code> → variable: <code>df_marketing</code></li>
<li><code>ventas.csv</code>    → variable: <code>df_ventas</code></li>
<li><code>clientes.csv</code>  → variable: <code>df_clientes</code></li>
</ul>

<p style="color:black;">
Coloca los CSV en <code>./data_in/</code> o en <code>/mnt/data/</code>. El notebook busca primero en <code>./data_in/</code> y si no encuentra, usa <code>/mnt/data/</code> (útil para entornos donde los archivos están pre-subidos).
</p>

</div>

In [1]:
# Imports y configuración inicial (nombres en castellano)
import os, re, json, unicodedata
from pathlib import Path
from datetime import datetime
from math import isnan
import zipfile
from collections import defaultdict
import argparse
import pandas as pd
import numpy as np
from typing import Dict, Any, Optional
ruta_base = "./"

## 1. Crear un documento en Google Colaboratory y cargar los sets de datos como DataFrames

si se usa en disco local comentarla celda de debajo (JuPyteR , VSC, ATOM, Spider, Geany, etc)

# --- Paso 1: Montar Google Drive ---
# Montar tu Google Drive
!pip install google
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/MyDrive/CABA/Garcia Traba Ariel H - Comisión 25262 - TPI Data Analytics/"
# Ruta del archivo (ajústala a la carpeta real en tu Drive)
ruta_base = "/content/drive/MyDrive/CABA/Garcia Traba Ariel H - Comisión 25262 - TPI Data Analytics/"

# 1ra parte Definición de ETL
ETL es un conjunto de procedimientos que permiten mover datos desde sistemas de origen, que pueden ser bases de datos, archivos o fuentes en la nube, hasta un sistema de destino como un data warehouse o data lake, realizando previamente procesos de limpieza, estructuración y organización de los datos para hacerlos aptos para análisis.​

## Fases del proceso ETL
Extracción: Consiste en recopilar datos relevantes de diferentes fuentes, asegurando que el impacto en los sistemas origen sea mínimo. Los datos pueden extraerse mediante diversos métodos como consultas SQL o servicios web.​

Transformación: En esta etapa, los datos se limpian y se ajustan para garantizar coherencia y calidad, incluyendo la eliminación de valores nulos, normalización y conversión a formatos consistentes, además de aplicar reglas específicas de negocio.

Carga: Finalmente, los datos transformados se cargan en el sistema de destino, donde estarán disponibles para análisis, informes o modelado de datos.

## Importancia del ETL
Es crucial en la minería de datos porque preparar los datos brutos para que puedan ser utilizados en análisis estadísticos, modelados predictivos o técnicas de aprendizaje automático, asegurando la calidad, coherencia y accesibilidad de la información.

## desde python sin librerias pandas / polars

### 1.1 Crear estructura de directorios segun modelo

In [2]:
# Rutas: 

carpeta_entrada    = Path(ruta_base)
#carpeta_entrada_mnt   = Path('/mnt/data')
carpeta_datasets_entrada   = carpeta_entrada / 'datasets_entrada'
carpeta_datasets_entrada.mkdir(parents=True, exist_ok=True)

carpeta_datasets_salida   = carpeta_entrada / 'datasets_salida'
carpeta_datasets_salida.mkdir(parents=True, exist_ok=True)

carpeta_reportes   = carpeta_datasets_salida / 'reportes'
carpeta_reportes.mkdir(parents=True, exist_ok=True)

carpeta_limpios    = carpeta_datasets_salida / 'limpios'
carpeta_limpios.mkdir(parents=True, exist_ok=True)


# Nombres esperados de archivos
archivo_ventas     = 'ventas.csv'
archivo_clientes   = 'clientes.csv'
archivo_marketing  = 'marketing.csv'

### 1.2 rutas y carga de los dataframes

In [3]:
# --- Paso 3: Cargar archivos del curso ---
print("Cargando datasets del curso...")
try:
    ruta_ventas     = os.path.join(carpeta_datasets_entrada, archivo_ventas)
    ruta_clientes   = os.path.join(carpeta_datasets_entrada, archivo_clientes)
    ruta_marketing  = os.path.join(carpeta_datasets_entrada, archivo_marketing)
    
    df_ventas       = pd.read_csv(f"{ruta_ventas}")
    df_clientes     = pd.read_csv(f"{ruta_clientes}")
    df_marketing    = pd.read_csv(f"{ruta_marketing}")
    dic_dfs = { "df_ventas"   : df_ventas,
                "df_clientes" : df_clientes,
                "df_marketing": df_marketing}
    print ("...Arhivos cargados con exito!!!")
except FileNotFoundError:
    print("Archivos no encontrados en:", carpeta_datasets_entrada)
    sys.exit(1)
except pd.errors.EmptyDataError:
    print("Archivo vacío detectado")
    sys.exit(2)

Cargando datasets del curso...
...Arhivos cargados con exito!!!

### 1.3 Estructura de parámetros

In [4]:
# ---------- Proceso principal para los 3 CSV ----------
desviacion_margen     = 1.5
desviacion_umbral     = 3.0
cantidad_duplicados   = 0
reportes_creados      = []
ruta_excel            = carpeta_reportes / 'reporte_limpieza.xlsx'
guardado_ok           = False
mensajes              = []
TOKENS_VALOR_FALTANTE = {'na', 'n/a', 'null', 'none', 'sin dato', 's/d', 'nd', '-', '--', '?', 'sin_dato', 'n/d'}


reglas= {
            "df_marketing" : {
                                'producto':     {'string' : {'tipo': 'lower', 'normalizar_acentos': True}},
                                'canal':        {'string' : {'tipo': 'upper', 'normalizar_acentos': True}},
                                'costo':        {'numeric': {'as_int': False}},
                                'fecha_inicio': {'date'   : {'dayfirst': True, 'formats': ['%d/%m/%Y', '%Y-%m-%d']}},
                                'fecha_fin':    {'date'   : {'dayfirst': True, 'formats': ['%d/%m/%Y', '%Y-%m-%d']}}
                                },
            # id_venta, producto, precio, cantidad, fecha_venta, categoria
            "df_ventas" : {
                                'producto':     {'string' : {'tipo': 'lower', 'normalizar_acentos': True}},
                                'precio':       {'numeric': {'as_int': False}},
                                'cantidad':     {'numeric': {'as_int': False}},
                                'fecha_venta':  {'date'   : {'dayfirst': True, 'formats': ['%d/%m/%Y', '%Y-%m-%d']}},
                                'categoria':    {'string' : {'tipo': 'lower', 'normalizar_acentos': True}}
                            },
            # id_cliente, nombre, edad, ciudad, ingresos
            "df_clientes" : {
                                'nombre':       {'string'  : {'tipo': 'title', 'normalizar_acentos': True}},
                                'edad':         {'numeric' : {'as_int': True}},
                                'ciudad':       {'string'  : {'tipo': 'title', 'normalizar_acentos': True}},
                                'ingresos':     {'numeric' : {'as_int': False}}
                            }
    }
reglas_por_archivo = {
    'ventas.csv':    reglas["df_ventas"],
    'clientes.csv':  reglas["df_clientes"],
    'marketing.csv': reglas["df_marketing"]
}

#zip_path = carpeta_reportes.parent / 'reports_dataset_tpi_v2.zip'

In [5]:
# Mostrar el DataFrame
def ver(df :pd.DataFrame):
    print(f"""
        Descripción preliminar:
        {df.describe()}
        Dimensiones:{ df.ndim}
        Forma:{ df.shape}    
        Número de elementos:{ df.size}
        Nombres de columnas:{ df.columns}
        Nombres de filas:{ df.index}
        Tipos de datos:\n{ df.dtypes}
        Primeras 10 filas:\n{ df.head(10)}
        Últimas 3 filas:\n{ df.tail(3)}
    {"*"*50}
    """)

In [21]:
def series_en_dataframes(nombre_df, df_cada):
     for nombre_columna, serie in df_cada.items():
            nombre_columna= nombre_columna.lower().replace(" ","_")
            if nombre_columna.startswith("id_"):
                continue
            regla =  next(iter(reglas[nombre_df][nombre_columna]))
            print (f"""
            {nombre_columna=}
            {serie=}
            {regla=}
            """)
            s = serie.copy()
            if regla == "numeric":
                try:
                    s = s.astype(str).str.strip()
                    s = s.str.replace('$', '')
                except:
                    pass
                s = pd.to_numeric(s, errors="coerce")
                if reglas[nombre_df][nombre_columna]["numeric"]["as_int"] :
                    s = s.replace('.', '').replace(',', '')
                    if not s.isna().any():
                        s = s.astype(int)
            elif regla == "string":
                s = s.astype(str).str.strip().replace("  "," ")
                match  reglas[nombre_df][nombre_columna][regla]["tipo"] :
                    case "upper":
                        s = s.str.upper()
                    case "title":
                        s = s.str.title()
                    case "lower":
                        s = s.str.lower()
                #texto_n = unicodedata.normalize("NFD", entrada)
                s= s.apply(  lambda x: ''.join( c for c in unicodedata.normalize('NFKD', str(x)) if not unicodedata.combining(c)  )  )
                #''.join(c for c in unicodedata.normalize('NFKD', str(x))  if not unicodedata.combining(c))  for x in df["columna"]
                '''
                
                Modo	Significado	Qué hace	Cuándo usar
                NFD	Normalization Form Decomposition	Descompone los caracteres Unicode en su forma básica y diacrítica. Ej: "á" → "a" + " ́"	Cuando solo querés separar acentos.
                NFKD	Compatibility Decomposition	Hace lo mismo más normaliza formas equivalentes "compatibles" (por ejemplo, “①” → “1”, “ﬂ” → “fl”)	Ideal para limpieza más completa de texto.
                '''
            elif regla == "date":
                # Convertimos la serie a datetime
                s = pd.to_datetime(  s,  dayfirst=reglas[nombre_df][nombre_columna][regla]["dayfirst"],   errors="coerce"  ) 
                #s = s.dt.strftime('%Y/%m/%d')
            elif regla == "fillna":
                s = s.fillna(0)
            dic_dfs[nombre_df][nombre_columna] = s
            print (f"""
            {"*"*50}
            {regla=}""")
         
    return dic_dfs[nombre_df]

IndentationError: unindent does not match any outer indentation level (<string>, line 52)

In [22]:
def dataframes_en_diccionario():
    """
    Limpia el DataFrame aplicando reglas_por_columna = {"col": ("regla", parametros)...}
    Las reglas se asignan automáticamente según el tipo o formato:
      - Columnas numéricas o con símbolos ($, %, dígitos) → 'numeric'
      - Columnas que parecen fechas → 'date'
      - Otras columnas → 'string'
    """
    for nombre_df, df_cada in dic_dfs.items():
        dic_dfs[nombre_df] = series_en_dataframes(nombre_df, df_cada)
    print (dic_dfs[nombre_df].head(40))
    ver( dic_dfs[nombre_df])
limpiar_dataframes()

            nombre_columna='producto'
            serie=0            cuadro decorativo
1              lampara de mesa
2                     secadora
3                     heladera
4                     secadora
                 ...
3030           horno electrico
3031                    laptop
3032                    laptop
3033                smartphone
3034    consola de videojuegos
Name: producto, Length: 3035, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='precio'
            serie=0        69.94
1       105.10
2        97.96
3       114.35
4       106.21
         ...
3030    104.12
3031     85.27
3032    107.81
3033     99.85
3034     55.47
Name: precio, Length: 3035, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='cantidad'
            serie=0       5.0
1       5.0
2       3.0
3       8.0
4       4.0
       ...
3030    9.0
3031    9.0
3032    4.0
3033    7.0
3034    6.0
Name: cantidad, Length: 3035, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='fecha_venta'
            serie=0      2024-01-02
1      2024-01-02
2      2024-01-02
3      2024-01-02
4      2024-01-02
          ...
3030   2024-12-30
3031   2024-12-30
3032   2024-12-30
3033   2024-12-30
3034   2024-12-30
Name: fecha_venta, Length: 3035, dtype: datetime64[ns]
            regla='date'


            **************************************************
            regla='date'

            nombre_columna='categoria'
            serie=0              decoracion
1              decoracion
2       electrodomesticos
3       electrodomesticos
4       electrodomesticos
              ...
3030    electrodomesticos
3031          electronica
3032          electronica
3033          electronica
3034          electronica
Name: categoria, Length: 3035, dtype: object
            regla='string'


            **************************************************
            regla='string'
    id_venta                producto  precio  cantidad fecha_venta  \
0        792       cuadro decorativo   69.94       5.0  2024-01-02
1        811         lampara de mesa  105.10       5.0  2024-01-02
2       1156                secadora   97.96       3.0  2024-01-02
3       1372                heladera  114.35       8.0  2024-01-02
4       1546                secadora  106.21       4.0  2024-01-02
5       1697         horno electrico   35.35       9.0  2024-01-02
6       1710        plancha de vapor   65.43       2.0  2024-01-02
7       2959               proyector   88.17       9.0  2024-01-02
8        318       rincon de plantas   79.86      11.0  2024-01-03
9        419              candelabro   66.11       8.0  2024-01-03
10      1374              aspiradora   95.90       5.0  2024-01-03
11      1571      freidora electrica  111.18       1.0  2024-01-03
12      1814              aspiradora   70.91       2.0  2024-01-03
13      2769               proyector   43.62      11.0  2024-01-03
14      2794                  tablet   67.97       9.0  2024-01-03
15      2824                  tablet   74.09       5.0  2024-01-03
16       446                cortinas   62.10       4.0  2024-01-04
17       630         adorno de pared   71.99       9.0  2024-01-04
18       794       jarron decorativo   96.97       7.0  2024-01-04
19       882       cuadro decorativo  101.92       9.0  2024-01-04
20       969              candelabro   90.70      12.0  2024-01-04
21      1445                lavadora   28.41      10.0  2024-01-04
22      1971      freidora electrica  122.25      11.0  2024-01-04
23      2209               proyector   32.15       1.0  2024-01-04
24       256                cortinas   86.82       8.0  2024-01-05
25       606                cortinas  106.66      11.0  2024-01-05
26       704       jarron decorativo   57.22       9.0  2024-01-05
27      1362                heladera  109.49      11.0  2024-01-05
28      2155             auriculares   84.80      10.0  2024-01-05
29      2947          camara digital  107.78       3.0  2024-01-05
30      1495                lavadora   38.99       6.0  2024-01-06
31      1572                cafetera   61.40       9.0  2024-01-06
32      2180  consola de videojuegos  102.57       9.0  2024-01-06
33      2487          camara digital   50.76       3.0  2024-01-06
34      2603              smartphone   87.05       5.0  2024-01-06
35      2885             auriculares  100.40       6.0  2024-01-06
36        17   elementos de ceramica  108.48      11.0  2024-01-07
37       183       espejo decorativo   82.76       8.0  2024-01-07
38       560         adorno de pared   57.62       6.0  2024-01-07
39       632       cuadro decorativo   30.49      12.0  2024-01-07

            categoria
0          decoracion
1          decoracion
2   electrodomesticos
3   electrodomesticos
4   electrodomesticos
5   electrodomesticos
6   electrodomesticos
7         electronica
8          decoracion
9          decoracion
10  electrodomesticos
11  electrodomesticos
12  electrodomesticos
13        electronica
14        electronica
15        electronica
16         decoracion
17         decoracion
18         decoracion
19         decoracion
20         decoracion
21  electrodomesticos
22  electrodomesticos
23        electronica
24         decoracion
25         decoracion
26         decoracion
27  electrodomesticos
28        electronica
29        electronica
30  electrodomesticos
31  electrodomesticos
32        electronica
33        electronica
34        electronica
35        electronica
36         decoracion
37         decoracion
38         decoracion
39         decoracion

        Descripción preliminar:
                  id_venta       precio     cantidad                    fecha_venta
count  3035.000000  3033.000000  3033.000000                           3035
mean   1499.851400    75.289034     6.496538  2024-06-25 20:51:09.785832192
min       1.000000    26.000000     1.000000            2024-01-02 00:00:00
25%     748.500000    50.020000     3.000000            2024-03-28 00:00:00
50%    1502.000000    75.270000     7.000000            2024-06-21 00:00:00
75%    2249.500000   100.040000     9.000000            2024-09-25 00:00:00
max    3000.000000   124.970000    12.000000            2024-12-30 00:00:00
std     866.465379    28.734666     3.457250                            NaN
        Dimensiones:2
        Forma:(3035, 6)
        Número de elementos:18210
        Nombres de columnas:Index(['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta',
       'categoria'],
      dtype='object')
        Nombres de filas:RangeIndex(start=0, stop=3035, step=1)
        Tipos de datos:
id_venta                int64
producto               object
precio                float64
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object
        Primeras 10 filas:
   id_venta           producto  precio  cantidad fecha_venta  \
0       792  cuadro decorativo   69.94       5.0  2024-01-02
1       811    lampara de mesa  105.10       5.0  2024-01-02
2      1156           secadora   97.96       3.0  2024-01-02
3      1372           heladera  114.35       8.0  2024-01-02
4      1546           secadora  106.21       4.0  2024-01-02
5      1697    horno electrico   35.35       9.0  2024-01-02
6      1710   plancha de vapor   65.43       2.0  2024-01-02
7      2959          proyector   88.17       9.0  2024-01-02
8       318  rincon de plantas   79.86      11.0  2024-01-03
9       419         candelabro   66.11       8.0  2024-01-03

           categoria
0         decoracion
1         decoracion
2  electrodomesticos
3  electrodomesticos
4  electrodomesticos
5  electrodomesticos
6  electrodomesticos
7        electronica
8         decoracion
9         decoracion
        Últimas 3 filas:
      id_venta                producto  precio  cantidad fecha_venta  \
3032      2696                  laptop  107.81       4.0  2024-12-30
3033      2913              smartphone   99.85       7.0  2024-12-30
3034      2930  consola de videojuegos   55.47       6.0  2024-12-30

        categoria
3032  electronica
3033  electronica
3034  electronica
    **************************************************


            nombre_columna='nombre'
            serie=0          Aloysia Screase
1      Kristina Scaplehorn
2           Filip Castagne
3              Liuka Luard
4            Dore Cockshtt
              ...
573          Minor Josephy
574        Marylynne Piner
575        Cari Marzellano
576         Magdalene Pegg
577          Lorry Santori
Name: nombre, Length: 578, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='edad'
            serie=0      44
1      25
2      50
3      39
4      28
       ..
573    28
574    47
575    38
576    34
577    47
Name: edad, Length: 578, dtype: int64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='ciudad'
            serie=0      Mar Del Plata
1            Posadas
2        Resistencia
3       Bahia Blanca
4            Rosario
           ...
573         Santa Fe
574          Rosario
575    Mar Del Plata
576          Cordoba
577       Corrientes
Name: ciudad, Length: 578, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='ingresos'
            serie=0      42294.68
1      24735.04
2      35744.85
3      27647.96
4      28245.65
         ...
573    47018.78
574    32826.37
575    53114.05
576    49849.42
577    42000.81
Name: ingresos, Length: 578, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'
    id_cliente               nombre  edad                 ciudad  ingresos
0            1      Aloysia Screase    44          Mar Del Plata  42294.68
1            2  Kristina Scaplehorn    25                Posadas  24735.04
2            3       Filip Castagne    50            Resistencia  35744.85
3            4          Liuka Luard    39           Bahia Blanca  27647.96
4            5        Dore Cockshtt    28                Rosario  28245.65
5            6        Patrick Earle    34  San Miguel De Tucuman  62763.31
6            7           Etan Deeth    35            Resistencia  37489.71
7            8       Booth Bielfelt    40                Cordoba  35255.94
8            9         Shirl Labone    29                Rosario  27592.08
9           10      Andy Mendenhall    52                Rosario  37153.94
10          11          Hans Strong    69            Resistencia  35596.27
11          12       Griffith Lowey    27             Corrientes  41862.78
12          13     Hadria Hinkensen    33  San Miguel De Tucuman  56171.38
13          14         Ilyssa Arden    52            Resistencia  14690.68
14          15        Denni Dhillon    27            Resistencia  42168.75
15          16       Garrott Bogart    32                Rosario  16480.55
16          17        Minor Josephy    28               Santa Fe  47018.78
17          18      Marylynne Piner    47                Rosario  32826.37
18          19      Cari Marzellano    38          Mar Del Plata  53114.05
19          20       Magdalene Pegg    34                Cordoba  49849.42
20          21        Lorry Santori    47             Corrientes  42000.81
21          22    Gertrude La Wille    44                  Merlo   9085.92
22          23     Audrye Fairbeard    40               Santa Fe  46734.23
23          24    Merle Musslewhite    33                  Salta  39770.63
24          25          Lola Hansie    44               Santa Fe  25917.58
25          26       Darelle Errett    47                  Salta  27928.46
26          27     Marianna Lossman    36                Cordoba  36720.12
27          28      Charmaine Vanin    37               Santa Fe  33220.06
28          29         Paul Perrott    34          Mar Del Plata  41813.93
29          30         Tedi O'Shiel    32           Bahia Blanca  44137.90
30          31         Merv Brislan    35          Mar Del Plata  21063.82
31          32     Winnifred Edland    35  San Miguel De Tucuman  54193.68
32          33         Bevin Keenor    28            Resistencia  33986.78
33          34       Tomaso Murname    35          Mar Del Plata  28615.26
34          35        Carmelia Bunn    52                Rosario  27136.93
35          36        Karie Premble    44                Posadas  52128.76
36          37      Maurice Pelling    26             Corrientes  25838.89
37          38   Clotilda Abilowitz    57                Posadas  42757.46
38          39         Ginger Askaw    36                  Salta  36779.95
39          40        Sallie Stubbe    37           Bahia Blanca  28333.21

        Descripción preliminar:
               id_cliente        edad      ingresos
count  578.000000  578.000000    578.000000
mean   289.500000   37.968858  34755.977266
std    166.998503   10.253244  12989.576812
min      1.000000   20.000000    170.290000
25%    145.250000   30.000000  26119.060000
50%    289.500000   37.000000  35102.285000
75%    433.750000   43.000000  42600.435000
max    578.000000   81.000000  88053.010000
        Dimensiones:2
        Forma:(578, 5)
        Número de elementos:2890
        Nombres de columnas:Index(['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos'], dtype='object')
        Nombres de filas:RangeIndex(start=0, stop=578, step=1)
        Tipos de datos:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
        Primeras 10 filas:
   id_cliente               nombre  edad                 ciudad  ingresos
0           1      Aloysia Screase    44          Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25                Posadas  24735.04
2           3       Filip Castagne    50            Resistencia  35744.85
3           4          Liuka Luard    39           Bahia Blanca  27647.96
4           5        Dore Cockshtt    28                Rosario  28245.65
5           6        Patrick Earle    34  San Miguel De Tucuman  62763.31
6           7           Etan Deeth    35            Resistencia  37489.71
7           8       Booth Bielfelt    40                Cordoba  35255.94
8           9         Shirl Labone    29                Rosario  27592.08
9          10      Andy Mendenhall    52                Rosario  37153.94
        Últimas 3 filas:
     id_cliente           nombre  edad         ciudad  ingresos
575         576  Cari Marzellano    38  Mar Del Plata  53114.05
576         577   Magdalene Pegg    34        Cordoba  49849.42
577         578    Lorry Santori    47     Corrientes  42000.81
    **************************************************


            nombre_columna='producto'
            serie=0        adorno de pared
1                 tablet
2        lampara de mesa
3             smartphone
4               alfombra
             ...
85            aspiradora
86             televisor
87     rincon de plantas
88              secadora
89    freidora electrica
Name: producto, Length: 90, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='canal'
            serie=0        TV
1      RRSS
2     EMAIL
3      RRSS
4     EMAIL
      ...
85       TV
86       TV
87       TV
88    EMAIL
89     RRSS
Name: canal, Length: 90, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='costo'
            serie=0     4.81
1     3.40
2     5.54
3     6.37
4     4.25
      ...
85    3.06
86    4.98
87    5.81
88    3.80
89    5.27
Name: costo, Length: 90, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='fecha_inicio'
            serie=0    2024-03-20
1    2024-03-26
2    2024-03-28
3    2024-03-29
4    2024-03-31
        ...
85   2024-12-13
86   2024-12-13
87   2024-12-17
88   2024-12-20
89   2024-12-29
Name: fecha_inicio, Length: 90, dtype: datetime64[ns]
            regla='date'


            **************************************************
            regla='date'

            nombre_columna='fecha_fin'
            serie=0    2024-05-03
1    2024-05-13
2    2024-04-20
3    2024-05-16
4    2024-05-05
        ...
85   2024-12-29
86   2025-02-08
87   2025-02-14
88   2025-01-07
89   2025-01-21
Name: fecha_fin, Length: 90, dtype: datetime64[ns]
            regla='date'


            **************************************************
            regla='date'
    id_campanha                producto  canal  costo fecha_inicio  fecha_fin
0            74         adorno de pared     TV   4.81   2024-03-20 2024-05-03
1            12                  tablet   RRSS   3.40   2024-03-26 2024-05-13
2            32         lampara de mesa  EMAIL   5.54   2024-03-28 2024-04-20
3            21              smartphone   RRSS   6.37   2024-03-29 2024-05-16
4            58                alfombra  EMAIL   4.25   2024-03-31 2024-05-05
5            85              smartwatch     TV   5.07   2024-04-01 2024-05-05
6            36        plancha de vapor  EMAIL   5.41   2024-04-02 2024-06-01
7            57                batidora  EMAIL   4.48   2024-04-10 2024-06-08
8            44         adorno de pared  EMAIL   5.08   2024-04-13 2024-05-10
9            84     parlantes bluetooth     TV   4.42   2024-04-17 2024-05-05
10            1       cuadro decorativo   RRSS   5.27   2024-04-27 2024-06-04
11           43                cortinas  EMAIL   5.67   2024-05-02 2024-06-17
12           50  consola de videojuegos  EMAIL   4.97   2024-05-03 2024-05-28
13           34                heladera  EMAIL   4.20   2024-05-06 2024-07-05
14           15       jarron decorativo   RRSS   4.65   2024-05-09 2024-06-13
15           46                lavadora  EMAIL   3.63   2024-05-12 2024-05-29
16           29               televisor   RRSS   3.96   2024-05-17 2024-06-28
17           67               proyector     TV   3.68   2024-05-22 2024-07-12
18           76                lavadora     TV   4.66   2024-05-26 2024-07-02
19           51              smartphone  EMAIL   4.65   2024-05-28 2024-06-15
20           69              candelabro     TV   3.25   2024-05-29 2024-06-30
21            2         lampara de mesa   RRSS   5.88   2024-05-30 2024-06-29
22            4                heladera   RRSS   4.53   2024-05-31 2024-07-15
23           83       espejo decorativo     TV   5.24   2024-05-31 2024-07-08
24           47             auriculares  EMAIL   4.19   2024-06-02 2024-07-22
25           45       jarron decorativo  EMAIL   4.52   2024-06-05 2024-07-31
26           71      freidora electrica     TV   4.37   2024-06-05 2024-07-24
27           38       rincon de plantas  EMAIL   5.76   2024-06-14 2024-07-15
28           49                cafetera  EMAIL   5.20   2024-06-20 2024-07-22
29           40              aspiradora  EMAIL   6.24   2024-06-24 2024-08-12
30           22   elementos de ceramica   RRSS   5.44   2024-06-26 2024-07-15
31           37               proyector  EMAIL   3.22   2024-07-06 2024-07-26
32           72                  tablet     TV   4.90   2024-07-08 2024-09-03
33           64                heladera     TV   4.38   2024-07-10 2024-08-09
34           42                  tablet  EMAIL   4.42   2024-07-14 2024-09-03

In [6]:
def limpiar_dataframes() :
    """
    Limpia el DataFrame aplicando reglas_por_columna = {"col": ("regla", parametros)...}
    Las reglas se asignan automáticamente según el tipo o formato:
      - Columnas numéricas o con símbolos ($, %, dígitos) → 'numeric'
      - Columnas que parecen fechas → 'date'
      - Otras columnas → 'string'
    """



    for nombre_df, df_cada in dic_dfs.items():
        '''
        print (f"""{nombre_df}
        {dic_dfs[nombre_df]}
        """)
        '''
        for nombre_columna, serie in df_cada.items():
            nombre_columna= nombre_columna.lower().replace(" ","_")
            if nombre_columna.startswith("id_"):
                continue
            regla =  next(iter(reglas[nombre_df][nombre_columna]))
            print (f"""
            {nombre_columna=}
            {serie=}
            {regla=}
            """)
            s = serie.copy()
            if regla == "numeric":
                try:
                    s = s.astype(str).str.strip()
                    s = s.str.replace('$', '')
                except:
                    pass
                s = pd.to_numeric(s, errors="coerce")
                if reglas[nombre_df][nombre_columna]["numeric"]["as_int"] :
                    s = s.replace('.', '').replace(',', '')
                    if not s.isna().any():
                        s = s.astype(int)
            elif regla == "string":
                s = s.astype(str).str.strip().replace("  "," ")
                match  reglas[nombre_df][nombre_columna][regla]["tipo"] :
                    case "upper":
                        s = s.str.upper()
                    case "title":
                        s = s.str.title()
                    case "lower":
                        s = s.str.lower()
                #texto_n = unicodedata.normalize("NFD", entrada)
                s= s.apply(  lambda x: ''.join( c for c in unicodedata.normalize('NFKD', str(x)) if not unicodedata.combining(c)  )  )
                #''.join(c for c in unicodedata.normalize('NFKD', str(x))  if not unicodedata.combining(c))  for x in df["columna"]
                '''
                
                Modo	Significado	Qué hace	Cuándo usar
                NFD	Normalization Form Decomposition	Descompone los caracteres Unicode en su forma básica y diacrítica. Ej: "á" → "a" + " ́"	Cuando solo querés separar acentos.
                NFKD	Compatibility Decomposition	Hace lo mismo más normaliza formas equivalentes "compatibles" (por ejemplo, “①” → “1”, “ﬂ” → “fl”)	Ideal para limpieza más completa de texto.
                '''
            elif regla == "date":
                # Convertimos la serie a datetime
                s = pd.to_datetime(  s,  dayfirst=reglas[nombre_df][nombre_columna][regla]["dayfirst"],   errors="coerce"  ) 
                #s = s.dt.strftime('%Y/%m/%d')
            elif regla == "fillna":
                s = s.fillna(0)
            dic_dfs[nombre_df][nombre_columna] = s
            print (f"""
            {"*"*50}
            {regla=}""")
        print (dic_dfs[nombre_df].head(40))
        ver( dic_dfs[nombre_df])
limpiar_dataframes()

            nombre_columna='producto'
            serie=0            Cuadro decorativo
1              Lámpara de mesa
2                     Secadora
3                     Heladera
4                     Secadora
                 ...
3030           Horno eléctrico
3031                    Laptop
3032                    Laptop
3033                Smartphone
3034    Consola de videojuegos
Name: producto, Length: 3035, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='precio'
            serie=0        $69.94
1       $105.10
2        $97.96
3       $114.35
4       $106.21
         ...
3030    $104.12
3031     $85.27
3032    $107.81
3033     $99.85
3034     $55.47
Name: precio, Length: 3035, dtype: object
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='cantidad'
            serie=0       5.0
1       5.0
2       3.0
3       8.0
4       4.0
       ...
3030    9.0
3031    9.0
3032    4.0
3033    7.0
3034    6.0
Name: cantidad, Length: 3035, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='fecha_venta'
            serie=0       02/01/2024
1       02/01/2024
2       02/01/2024
3       02/01/2024
4       02/01/2024
           ...
3030    30/12/2024
3031    30/12/2024
3032    30/12/2024
3033    30/12/2024
3034    30/12/2024
Name: fecha_venta, Length: 3035, dtype: object
            regla='date'


            **************************************************
            regla='date'

            nombre_columna='categoria'
            serie=0              Decoración
1              Decoración
2       Electrodomésticos
3       Electrodomésticos
4       Electrodomésticos
              ...
3030    Electrodomésticos
3031          Electrónica
3032          Electrónica
3033          Electrónica
3034          Electrónica
Name: categoria, Length: 3035, dtype: object
            regla='string'


            **************************************************
            regla='string'
    id_venta                producto  precio  cantidad fecha_venta  \
0        792       cuadro decorativo   69.94       5.0  2024-01-02
1        811         lampara de mesa  105.10       5.0  2024-01-02
2       1156                secadora   97.96       3.0  2024-01-02
3       1372                heladera  114.35       8.0  2024-01-02
4       1546                secadora  106.21       4.0  2024-01-02
5       1697         horno electrico   35.35       9.0  2024-01-02
6       1710        plancha de vapor   65.43       2.0  2024-01-02
7       2959               proyector   88.17       9.0  2024-01-02
8        318       rincon de plantas   79.86      11.0  2024-01-03
9        419              candelabro   66.11       8.0  2024-01-03
10      1374              aspiradora   95.90       5.0  2024-01-03
11      1571      freidora electrica  111.18       1.0  2024-01-03
12      1814              aspiradora   70.91       2.0  2024-01-03
13      2769               proyector   43.62      11.0  2024-01-03
14      2794                  tablet   67.97       9.0  2024-01-03
15      2824                  tablet   74.09       5.0  2024-01-03
16       446                cortinas   62.10       4.0  2024-01-04
17       630         adorno de pared   71.99       9.0  2024-01-04
18       794       jarron decorativo   96.97       7.0  2024-01-04
19       882       cuadro decorativo  101.92       9.0  2024-01-04
20       969              candelabro   90.70      12.0  2024-01-04
21      1445                lavadora   28.41      10.0  2024-01-04
22      1971      freidora electrica  122.25      11.0  2024-01-04
23      2209               proyector   32.15       1.0  2024-01-04
24       256                cortinas   86.82       8.0  2024-01-05
25       606                cortinas  106.66      11.0  2024-01-05
26       704       jarron decorativo   57.22       9.0  2024-01-05
27      1362                heladera  109.49      11.0  2024-01-05
28      2155             auriculares   84.80      10.0  2024-01-05
29      2947          camara digital  107.78       3.0  2024-01-05
30      1495                lavadora   38.99       6.0  2024-01-06
31      1572                cafetera   61.40       9.0  2024-01-06
32      2180  consola de videojuegos  102.57       9.0  2024-01-06
33      2487          camara digital   50.76       3.0  2024-01-06
34      2603              smartphone   87.05       5.0  2024-01-06
35      2885             auriculares  100.40       6.0  2024-01-06
36        17   elementos de ceramica  108.48      11.0  2024-01-07
37       183       espejo decorativo   82.76       8.0  2024-01-07
38       560         adorno de pared   57.62       6.0  2024-01-07
39       632       cuadro decorativo   30.49      12.0  2024-01-07

            categoria
0          decoracion
1          decoracion
2   electrodomesticos
3   electrodomesticos
4   electrodomesticos
5   electrodomesticos
6   electrodomesticos
7         electronica
8          decoracion
9          decoracion
10  electrodomesticos
11  electrodomesticos
12  electrodomesticos
13        electronica
14        electronica
15        electronica
16         decoracion
17         decoracion
18         decoracion
19         decoracion
20         decoracion
21  electrodomesticos
22  electrodomesticos
23        electronica
24         decoracion
25         decoracion
26         decoracion
27  electrodomesticos
28        electronica
29        electronica
30  electrodomesticos
31  electrodomesticos
32        electronica
33        electronica
34        electronica
35        electronica
36         decoracion
37         decoracion
38         decoracion
39         decoracion

        Descripción preliminar:
                  id_venta       precio     cantidad                    fecha_venta
count  3035.000000  3033.000000  3033.000000                           3035
mean   1499.851400    75.289034     6.496538  2024-06-25 20:51:09.785832192
min       1.000000    26.000000     1.000000            2024-01-02 00:00:00
25%     748.500000    50.020000     3.000000            2024-03-28 00:00:00
50%    1502.000000    75.270000     7.000000            2024-06-21 00:00:00
75%    2249.500000   100.040000     9.000000            2024-09-25 00:00:00
max    3000.000000   124.970000    12.000000            2024-12-30 00:00:00
std     866.465379    28.734666     3.457250                            NaN
        Dimensiones:2
        Forma:(3035, 6)
        Número de elementos:18210
        Nombres de columnas:Index(['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta',
       'categoria'],
      dtype='object')
        Nombres de filas:RangeIndex(start=0, stop=3035, step=1)
        Tipos de datos:
id_venta                int64
producto               object
precio                float64
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object
        Primeras 10 filas:
   id_venta           producto  precio  cantidad fecha_venta  \
0       792  cuadro decorativo   69.94       5.0  2024-01-02
1       811    lampara de mesa  105.10       5.0  2024-01-02
2      1156           secadora   97.96       3.0  2024-01-02
3      1372           heladera  114.35       8.0  2024-01-02
4      1546           secadora  106.21       4.0  2024-01-02
5      1697    horno electrico   35.35       9.0  2024-01-02
6      1710   plancha de vapor   65.43       2.0  2024-01-02
7      2959          proyector   88.17       9.0  2024-01-02
8       318  rincon de plantas   79.86      11.0  2024-01-03
9       419         candelabro   66.11       8.0  2024-01-03

           categoria
0         decoracion
1         decoracion
2  electrodomesticos
3  electrodomesticos
4  electrodomesticos
5  electrodomesticos
6  electrodomesticos
7        electronica
8         decoracion
9         decoracion
        Últimas 3 filas:
      id_venta                producto  precio  cantidad fecha_venta  \
3032      2696                  laptop  107.81       4.0  2024-12-30
3033      2913              smartphone   99.85       7.0  2024-12-30
3034      2930  consola de videojuegos   55.47       6.0  2024-12-30

        categoria
3032  electronica
3033  electronica
3034  electronica
    **************************************************


            nombre_columna='nombre'
            serie=0          Aloysia Screase
1      Kristina Scaplehorn
2           Filip Castagne
3              Liuka Luard
4            Dore Cockshtt
              ...
573          Minor Josephy
574        Marylynne Piner
575        Cari Marzellano
576         Magdalene Pegg
577          Lorry Santori
Name: nombre, Length: 578, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='edad'
            serie=0      44
1      25
2      50
3      39
4      28
       ..
573    28
574    47
575    38
576    34
577    47
Name: edad, Length: 578, dtype: int64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='ciudad'
            serie=0      Mar del Plata
1            Posadas
2        Resistencia
3       Bahía Blanca
4            Rosario
           ...
573         Santa Fe
574          Rosario
575    Mar del Plata
576          Córdoba
577       Corrientes
Name: ciudad, Length: 578, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='ingresos'
            serie=0      42294.68
1      24735.04
2      35744.85
3      27647.96
4      28245.65
         ...
573    47018.78
574    32826.37
575    53114.05
576    49849.42
577    42000.81
Name: ingresos, Length: 578, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'
    id_cliente               nombre  edad                 ciudad  ingresos
0            1      Aloysia Screase    44          Mar Del Plata  42294.68
1            2  Kristina Scaplehorn    25                Posadas  24735.04
2            3       Filip Castagne    50            Resistencia  35744.85
3            4          Liuka Luard    39           Bahia Blanca  27647.96
4            5        Dore Cockshtt    28                Rosario  28245.65
5            6        Patrick Earle    34  San Miguel De Tucuman  62763.31
6            7           Etan Deeth    35            Resistencia  37489.71
7            8       Booth Bielfelt    40                Cordoba  35255.94
8            9         Shirl Labone    29                Rosario  27592.08
9           10      Andy Mendenhall    52                Rosario  37153.94
10          11          Hans Strong    69            Resistencia  35596.27
11          12       Griffith Lowey    27             Corrientes  41862.78
12          13     Hadria Hinkensen    33  San Miguel De Tucuman  56171.38
13          14         Ilyssa Arden    52            Resistencia  14690.68
14          15        Denni Dhillon    27            Resistencia  42168.75
15          16       Garrott Bogart    32                Rosario  16480.55
16          17        Minor Josephy    28               Santa Fe  47018.78
17          18      Marylynne Piner    47                Rosario  32826.37
18          19      Cari Marzellano    38          Mar Del Plata  53114.05
19          20       Magdalene Pegg    34                Cordoba  49849.42
20          21        Lorry Santori    47             Corrientes  42000.81
21          22    Gertrude La Wille    44                  Merlo   9085.92
22          23     Audrye Fairbeard    40               Santa Fe  46734.23
23          24    Merle Musslewhite    33                  Salta  39770.63
24          25          Lola Hansie    44               Santa Fe  25917.58
25          26       Darelle Errett    47                  Salta  27928.46
26          27     Marianna Lossman    36                Cordoba  36720.12
27          28      Charmaine Vanin    37               Santa Fe  33220.06
28          29         Paul Perrott    34          Mar Del Plata  41813.93
29          30         Tedi O'Shiel    32           Bahia Blanca  44137.90
30          31         Merv Brislan    35          Mar Del Plata  21063.82
31          32     Winnifred Edland    35  San Miguel De Tucuman  54193.68
32          33         Bevin Keenor    28            Resistencia  33986.78
33          34       Tomaso Murname    35          Mar Del Plata  28615.26
34          35        Carmelia Bunn    52                Rosario  27136.93
35          36        Karie Premble    44                Posadas  52128.76
36          37      Maurice Pelling    26             Corrientes  25838.89
37          38   Clotilda Abilowitz    57                Posadas  42757.46
38          39         Ginger Askaw    36                  Salta  36779.95
39          40        Sallie Stubbe    37           Bahia Blanca  28333.21

        Descripción preliminar:
               id_cliente        edad      ingresos
count  578.000000  578.000000    578.000000
mean   289.500000   37.968858  34755.977266
std    166.998503   10.253244  12989.576812
min      1.000000   20.000000    170.290000
25%    145.250000   30.000000  26119.060000
50%    289.500000   37.000000  35102.285000
75%    433.750000   43.000000  42600.435000
max    578.000000   81.000000  88053.010000
        Dimensiones:2
        Forma:(578, 5)
        Número de elementos:2890
        Nombres de columnas:Index(['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos'], dtype='object')
        Nombres de filas:RangeIndex(start=0, stop=578, step=1)
        Tipos de datos:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
        Primeras 10 filas:
   id_cliente               nombre  edad                 ciudad  ingresos
0           1      Aloysia Screase    44          Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25                Posadas  24735.04
2           3       Filip Castagne    50            Resistencia  35744.85
3           4          Liuka Luard    39           Bahia Blanca  27647.96
4           5        Dore Cockshtt    28                Rosario  28245.65
5           6        Patrick Earle    34  San Miguel De Tucuman  62763.31
6           7           Etan Deeth    35            Resistencia  37489.71
7           8       Booth Bielfelt    40                Cordoba  35255.94
8           9         Shirl Labone    29                Rosario  27592.08
9          10      Andy Mendenhall    52                Rosario  37153.94
        Últimas 3 filas:
     id_cliente           nombre  edad         ciudad  ingresos
575         576  Cari Marzellano    38  Mar Del Plata  53114.05
576         577   Magdalene Pegg    34        Cordoba  49849.42
577         578    Lorry Santori    47     Corrientes  42000.81
    **************************************************


            nombre_columna='producto'
            serie=0        Adorno de pared
1                 Tablet
2        Lámpara de mesa
3             Smartphone
4               Alfombra
             ...
85            Aspiradora
86             Televisor
87     Rincón de plantas
88              Secadora
89    Freidora eléctrica
Name: producto, Length: 90, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='canal'
            serie=0        TV
1      RRSS
2     Email
3      RRSS
4     Email
      ...
85       TV
86       TV
87       TV
88    Email
89     RRSS
Name: canal, Length: 90, dtype: object
            regla='string'


            **************************************************
            regla='string'

            nombre_columna='costo'
            serie=0     4.81
1     3.40
2     5.54
3     6.37
4     4.25
      ...
85    3.06
86    4.98
87    5.81
88    3.80
89    5.27
Name: costo, Length: 90, dtype: float64
            regla='numeric'


            **************************************************
            regla='numeric'

            nombre_columna='fecha_inicio'
            serie=0     20/03/2024
1     26/03/2024
2     28/03/2024
3     29/03/2024
4     31/03/2024
         ...
85    13/12/2024
86    13/12/2024
87    17/12/2024
88    20/12/2024
89    29/12/2024
Name: fecha_inicio, Length: 90, dtype: object
            regla='date'


            **************************************************
            regla='date'

            nombre_columna='fecha_fin'
            serie=0     03/05/2024
1     13/05/2024
2     20/04/2024
3     16/05/2024
4     05/05/2024
         ...
85    29/12/2024
86      8/2/2025
87     14/2/2025
88      7/1/2025
89     21/1/2025
Name: fecha_fin, Length: 90, dtype: object
            regla='date'


            **************************************************
            regla='date'
    id_campanha                producto  canal  costo fecha_inicio  fecha_fin
0            74         adorno de pared     TV   4.81   2024-03-20 2024-05-03
1            12                  tablet   RRSS   3.40   2024-03-26 2024-05-13
2            32         lampara de mesa  EMAIL   5.54   2024-03-28 2024-04-20
3            21              smartphone   RRSS   6.37   2024-03-29 2024-05-16
4            58                alfombra  EMAIL   4.25   2024-03-31 2024-05-05
5            85              smartwatch     TV   5.07   2024-04-01 2024-05-05
6            36        plancha de vapor  EMAIL   5.41   2024-04-02 2024-06-01
7            57                batidora  EMAIL   4.48   2024-04-10 2024-06-08
8            44         adorno de pared  EMAIL   5.08   2024-04-13 2024-05-10
9            84     parlantes bluetooth     TV   4.42   2024-04-17 2024-05-05
10            1       cuadro decorativo   RRSS   5.27   2024-04-27 2024-06-04
11           43                cortinas  EMAIL   5.67   2024-05-02 2024-06-17
12           50  consola de videojuegos  EMAIL   4.97   2024-05-03 2024-05-28
13           34                heladera  EMAIL   4.20   2024-05-06 2024-07-05
14           15       jarron decorativo   RRSS   4.65   2024-05-09 2024-06-13
15           46                lavadora  EMAIL   3.63   2024-05-12 2024-05-29
16           29               televisor   RRSS   3.96   2024-05-17 2024-06-28
17           67               proyector     TV   3.68   2024-05-22 2024-07-12
18           76                lavadora     TV   4.66   2024-05-26 2024-07-02
19           51              smartphone  EMAIL   4.65   2024-05-28 2024-06-15
20           69              candelabro     TV   3.25   2024-05-29 2024-06-30
21            2         lampara de mesa   RRSS   5.88   2024-05-30 2024-06-29
22            4                heladera   RRSS   4.53   2024-05-31 2024-07-15
23           83       espejo decorativo     TV   5.24   2024-05-31 2024-07-08
24           47             auriculares  EMAIL   4.19   2024-06-02 2024-07-22
25           45       jarron decorativo  EMAIL   4.52   2024-06-05 2024-07-31
26           71      freidora electrica     TV   4.37   2024-06-05 2024-07-24
27           38       rincon de plantas  EMAIL   5.76   2024-06-14 2024-07-15
28           49                cafetera  EMAIL   5.20   2024-06-20 2024-07-22
29           40              aspiradora  EMAIL   6.24   2024-06-24 2024-08-12
30           22   elementos de ceramica   RRSS   5.44   2024-06-26 2024-07-15
31           37               proyector  EMAIL   3.22   2024-07-06 2024-07-26
32           72                  tablet     TV   4.90   2024-07-08 2024-09-03
33           64                heladera     TV   4.38   2024-07-10 2024-08-09
34           42                  tablet  EMAIL   4.42   2024-07-14 2024-09-03

In [7]:
# Función auxiliar para guardar CSVs
def guardar_csv(df, ruta):
    """
    Guarda df en ruta (string o Path). Crea directorio padre si no existe.
    """
    ruta = Path(ruta)
    ruta.parent.mkdir(parents=True, exist_ok=True)
    df.to_csv(ruta, index=False, encoding='utf-8')
    return ruta

for [path_archivo, df_actual],[nombre_archivo,_] in zip( dic_dfs.items() , reglas_por_archivo.items() ):

    nombre_limpio = nombre_archivo[:-4] + '_limpio.csv' if nombre_archivo.lower().endswith('.csv') else nombre_archivo + ' limpio.csv'
    print(f'nombre_limpio = {nombre_limpio}')
    # guardar cleaned
    ruta_guardado = carpeta_limpios / nombre_limpio
    guardar_csv(df_actual, ruta_guardado)
    print(f'Guardado cleaned en: {ruta_guardado}')

nombre_limpio = ventas_limpio.csv
Guardado cleaned en: datasets_salida\limpios\ventas_limpio.csv
nombre_limpio = clientes_limpio.csv
Guardado cleaned en: datasets_salida\limpios\clientes_limpio.csv
nombre_limpio = marketing_limpio.csv
Guardado cleaned en: datasets_salida\limpios\marketing_limpio.csv

In [8]:
def es_valor_faltante(se):
    """
    Determina si un valor debe considerarse faltante (True) usando tokens y NaN.
    """
    if pd.isna(valor):
        return True
    salida = s in TOKENS_VALOR_FALTANTE
    print (salida)
    return salida

In [9]:

# Detección de outliers (IQR) - función corregida y robusta
def mascara_valores_atipicos_rango_intercuartil(serie_datos):
    """
    Devuelve una tupla: (mascara_bool_series, cantidad_outliers, (limite_inferior, limite_superior))
    - serie_datos: pd.Series (acepta valores no numéricos, se intentará convertir)
    - La máscara tiene la misma indexación que la serie original (NaNs -> False)
    """
    # Intentar convertir a numérico (coerce -> NaN para no numéricos)
    serie_numerica = pd.to_numeric(serie_datos, errors='coerce')
    # Serie limpia para cálculos de cuartiles (sin NaN)
    serie_limpia = serie_numerica.dropna().astype(float)
    if serie_limpia.shape[0] < 4:
        # No hay suficientes datos para IQR: devolver máscara False de la misma longitud
        mascara = pd.Series([False] * len(serie_datos), index=serie_datos.index)
        return mascara, int(mascara.sum()), (None, None)
    cuartil_1 = float(serie_limpia.quantile(0.25))
    cuartil_3 = float(serie_limpia.quantile(0.75))
    rango_intercuartil = cuartil_3 - cuartil_1
    limite_inferior = cuartil_1 - desviacion_margen * rango_intercuartil
    limite_superior = cuartil_3 + desviacion_margen * rango_intercuartil
    # Crear máscara sobre la serie numérica original (alineada con el index original)
    mascara = (serie_numerica < limite_inferior) | (serie_numerica > limite_superior)
    mascara = mascara.fillna(False).astype(bool)
    return mascara, int(mascara.sum()), (limite_inferior, limite_superior)

In [10]:
# Detección de outliers (Z-score)
def mascara_valores_atipicos_zscore(serie_datos, desviacion_umbral=3.0):
    """
    Devuelve máscara booleana (True = outlier) según Z-score.
    """
    serie_limpia = serie_datos.dropna().astype(float)
    if serie_limpia.shape[0] < 4 or serie_limpia.std() == 0:
        return pd.Series([False] * len(serie_datos), index=serie_datos.index)
    puntaje_z = (serie_datos - serie_limpia.mean()) / serie_limpia.std()
    return puntaje_z.abs() > desviacion_umbral  
print('Funciones utilitarias definidas.')

Funciones utilitarias definidas.

# limpieza y normalización

In [11]:
# ---------- Detección de problemas en un DataFrame ----------
def detectar_problemas_en_dataframe(df: pd.DataFrame):
 
    resumen                       = {}
    resumen['filas']              = df.shape[0]
    resumen['columnas']           = df.shape[1]
    resumen['nulos_por_columna']  = df.isna().sum().to_dict()
    dup_mask                      = df.duplicated(keep=False)
    resumen['duplicados_exactos'] = int(dup_mask.sum())
    chequeos_por_columna          = {}
    print(f"""\033[1;37;44m\n
╔═════════════════════════════════════════════════════════════════════════════╗
║                              Valores a eliminar                             ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║         Elimina espacios iniciales y finales.                               ║
║         Borra Na                                                            ║
║         Borra duplicados                                                    ║
╚═════════════════════════════════════════════════════════════════════════════╝\033[0;m""") 
    print(f"""\033[1;37;44m\n
╔═════════════════════════════════════════════════════════════════════════════╗
║                               Valores atípicos                              ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║         NO Modifica datos.                                                  ║
║         Se guarda la información en archivo excel para referencias futuras  ║
║         Se evalua es mediante dos formas                                    ║
║            1) limites intercuartiles 25 y 75 % * desviacion_margen {desviacion_margen}      ║
║            2) Z-score mayor a desviacion_umbral {desviacion_umbral}                         ║
╚═════════════════════════════════════════════════════════════════════════════╝\033[0;m""")
    for col in df.columns:
        serie = df[col]
        info = {'dtype': str(serie.dtype), 'nulos': int(serie.isna().sum())}
        if serie.dtype == object or pd.api.types.is_string_dtype(serie):
            s = serie.astype(str)
            info['espacios_inicio']          = int(s.str.match(r'^\s+').sum())
            info['espacios_final']           = int(s.str.match(r'\s+$').sum())
            try:
                unique_original              = set(s.dropna().unique())
                unique_lower                 = set(s.dropna().str.lower().unique())
                info['unique_original']      = len(unique_original)
                info['unique_lower']         = len(unique_lower)
                info['variantes_mayusculas'] = len(unique_lower) < len(unique_original)
            except Exception:
                info['unique_original']      = serie.nunique(dropna=True)
                info['unique_lower']         = None
                info['variantes_mayusculas'] = None
            try:
                unaccented                   = s.dropna().map(lambda x: sacar_acentos(x).lower())
                groups                       = unaccented.groupby(unaccented).size()
                conflicts                    = groups[groups > 1]
                info['grupos_var_acentos']   = int(conflicts.shape[0])
                ejemplos = {}
                if not conflicts.empty:
                    for val in conflicts.index[:5]:
                        originales           = sorted(list(s[unaccented == val].unique())[:10])
                        ejemplos[val]        = originales
                info['ejemplos_var_acentos'] = ejemplos
            except Exception:
                info['grupos_var_acentos']   = None
                info['ejemplos_var_acentos'] = {}
            info['tokens_aparente_faltante'] = int(
                s.map(lambda x: str(x).strip().lower()).map(lambda v: sacar_acentos(v) in TOKENS_VALOR_FALTANTE).sum()
            )
            info['muestras'] = list(s.dropna().unique()[:10])
        else:
            # numeric
            if pd.api.types.is_numeric_dtype(serie) or (serie.dropna().astype(str).str.replace('.','',1).str.isnumeric().all() if len(serie.dropna())>0 else False):
                try:
                    serie_numerica = serie.dropna().astype(float)
                except Exception:
                    serie_numerica = pd.to_numeric(serie, errors='coerce').dropna().astype(float)
                info['media'] = float(serie_numerica.mean()) if not serie_numerica.empty else None
                info['std']   = float(serie_numerica.std()) if not serie_numerica.empty else None
                info['min']   = float(serie_numerica.min()) if not serie_numerica.empty else None
                info['max']   = float(serie_numerica.max()) if not serie_numerica.empty else None
                if len(serie_numerica) >= 4:
                    mascara_outliers_iqr, cant,(info['outliers_iqr'] ,info['limites_iqr']) =mascara_valores_atipicos_rango_intercuartil(serie)
                    #mascara, int(mascara.sum()), (limite_inferior, limite_superior)
                    '''
                    print (f"""
                    {mascara_outliers_iqr=}
                    {cant=}
                    {info['outliers_iqr']=}
                    {info['limites_iqr']=}
                    {"-"*100}
                    """)
                    '''
                    
                else:
                    info['outliers_iqr'] = None
                    info['limites_iqr'] = None
                if len(serie_numerica) >= 4 and serie_numerica.std() != 0:
                    z = (serie_numerica - serie_numerica.mean()) / serie_numerica.std()
                    info['outliers_z'] = int((z.abs() > 3).sum())
                else:
                    info['outliers_z'] = None
            else:
                # fechas intento parseo
                parsed = pd.to_datetime(serie, errors='coerce', dayfirst=True)
                info['fechas_parseables'] = int(parsed.notna().sum())
                info['muestras'] = list(serie.dropna().unique()[:10])
        chequeos_por_columna[col] = info

    filas_problemas = []
    df.columns = [c.strip().lower().replace(' ', '_') for c in df.columns]
    for idx, fila in df.iterrows():
        lista_problemas = []
        if dup_mask.loc[idx]:
            lista_problemas.append('duplicado_exacto')
        for col in df.columns:
            val = fila[col]
            
            # heurísticas textuales
            if pd.api.types.is_string_dtype(type(val)) or isinstance(val, str) or (
                not pd.isna(val) and not pd.api.types.is_numeric_dtype(type(val)) and str(chequeos_por_columna[col].get('dtype','')).startswith('object')
            ):
                s = str(val)
                if s != s.strip():
                    lista_problemas.append(f'espacios_en_columna_{col}')
                if chequeos_por_columna[col].get('variantes_mayusculas'):
                    if s and s != s.lower() and s.lower() in [str(x).lower() for x in df[col].dropna().unique()]:
                        lista_problemas.append(f'inconsistencia_mayusculas_columna_{col}')
                if chequeos_por_columna[col].get('grupos_var_acentos') and chequeos_por_columna[col]['grupos_var_acentos'] > 0:
                    try:
                        #un = sacar_acentos(s).lower()
                        #group_vals = [x for x in chequeos_por_columna[col].get('muestras', []) if sacar_acentos(str(x)).lower() == un]
                        
                        
                        
                        
                        df['col'] = df['col'].apply(sacar_acentos)
                        
                        
                        
                        if group_vals and any(sacar_acentos(str(x)).lower() != sacar_acentos(s).lower() for x in group_vals):
                            lista_problemas.append(f'variantes_acentos_columna_{col}')
                    except Exception:
                        pass
                if es_valor_faltante(s):
                    lista_problemas.append(f'token_faltante_columna_{col}')
            else:
                # heurísticas numéricas
                try:
                    fval = float(val)
                    info_col = chequeos_por_columna[col]
                    limites = info_col.get('limites_iqr')
                    if limites and (fval < limites[0] or fval > limites[1]):
                        lista_problemas.append(f'outlier_iqr_columna_{col}')
                    if info_col.get('std') not in (None, 0):
                        mean = info_col.get('media')
                        std = info_col.get('std')
                        if std and abs((fval - mean) / std) > 3:
                            lista_problemas.append(f'outlier_z_columna_{col}')
                except Exception:
                    pass
        if lista_problemas:
            filas_problemas.append({
                'row_index': idx,
                'problemas': ';'.join(sorted(set(lista_problemas))),
                'muestra': json.dumps({str(c): str(fila[c]) for c in df.columns[:8]})
            })

    df_problemas = pd.DataFrame(filas_problemas)
    return resumen, chequeos_por_columna, df_problemas

print('Función detectar_problemas_en_dataframe cargada.')

Función detectar_problemas_en_dataframe cargada.

In [12]:
dic_frames = {
    ruta_ventas     : df_ventas,
    ruta_clientes   : df_clientes,
    ruta_marketing  : df_marketing
}

In [13]:
# ---------- Bucle/menu principal (usa dic_frames) ----------
def menu_procesar_diccionario(dic_frames, reglas_por_archivo):
    """
    Recorre dic_frames: clave = nombre_archivo (ej. 'marketing.csv'), valor = DataFrame.
    Ejecuta: detectar_problemas_en_dataframe antes, limpiar_dataframe, detectar_problemas_en_dataframe despues,
    imprime resúmenes y guarda cleaned en carpeta_limpios con sufijo ' limpio.csv'.
    También sobreescribe variables en RAM (df_marketing, df_ventas, df_clientes) si se encuentran en el nombre.
    """
    print("""\033[1;37;44m\n
╔═════════════════════════════════════════════════════════════════════════════╗
║                     Aplico reglas según columna específica                  ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║             Numéricos (int/float)                                           ║
║             fechas --> YYYY,MM,DD                                           ║
╚═════════════════════════════════════════════════════════════════════════════╝\033[0;m""")
    errores_df=pd.DataFrame()
    # trabajamos sobre una copia para evitar modificar dict original por error
    for [path_archivo, df_actual],[nombre_archivo,_] in zip( dic_frames.items() , reglas_por_archivo.items() ):
        resumen_antes, chequeos_antes, problemas_antes = detectar_problemas_en_dataframe(df_actual)
        print(f"--- RESUMEN ANTES: {nombre_archivo} ---")
        # Para no volcar objetos muy grandes, mostramos el head del DataFrame de problemas (si existe)
        #print('Muestras de problemas antes (primeras 5 filas):')
        #print( display(problemas_antes.head(5) if not problemas_antes.empty else 'No se detectaron filas con problemas.') )

        errores_df  = pd.concat ([errores_df,problemas_antes])

        #df_actual[df_actual.duplicated(keep=False)].copy()
        reglas    = reglas_por_archivo.get(nombre_archivo, {})
        df_limpio = limpiar_dataframe(df_actual, reglas_por_columna=reglas)

        resumen_despues, chequeos_despues, problemas_despues = detectar_problemas_en_dataframe(df_limpio)
        '''
        print(f"n--- RESUMEN DESPUÉS: {nombre_archivo} ---")
        print(resumen_despues)
        print('Muestras de problemas después (primeras 5 filas):')
        print( display(problemas_despues.head(5) if not problemas_despues.empty else 'No se detectaron filas con problemas tras la limpieza.'))
        '''
        # mostrar separadores y tipo-nombre

        #print('-'*100)
        #print(f'nombre_archivo = {nombre_archivo}')
        #print(f'type(nombre_archivo) = {type(nombre_archivo)}')
        #print('-'*100)

        # Guardo el archivo en limpios  ruta_base carpeta_reportes
        nombre_limpio = nombre_archivo[:-4] + '_limpio.csv' if nombre_archivo.lower().endswith('.csv') else nombre_archivo + ' limpio.csv'
        print(f'nombre_limpio = {nombre_limpio}')
    
        # guardar cleaned
        ruta_guardado = carpeta_limpios / nombre_limpio
        guardar_csv(df_limpio, ruta_guardado)
        print(f'Guardado cleaned en: {ruta_guardado}')

        # sobreescribir en RAM según el nombre
        # (nota: usar globals() para actualizar variables en el entorno global del notebook)
        dic_dfs[nombre_archivo.lower()] = df_limpio
        '''
        if 'marketing' in nombre_archivo.lower():
            globals()['df_marketing'] = df_limpio
        elif 'ventas' in nombre_archivo.lower():
            globals()['df_ventas'] = df_limpio
        elif 'clientes' in nombre_archivo.lower():
            globals()['df_clientes'] = df_limpio
        '''
    print('Proceso completo del diccionario de DataFrames.')
    return errores_df
errores_df = menu_procesar_diccionario(dic_frames, reglas_por_archivo)

╔═════════════════════════════════════════════════════════════════════════════╗
║                     Aplico reglas según columna específica                  ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║             Numéricos (int/float)                                           ║
║             fechas --> YYYY,MM,DD                                           ║
╚═════════════════════════════════════════════════════════════════════════════╝


╔═════════════════════════════════════════════════════════════════════════════╗
║                              Valores a eliminar                             ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║         Elimina espacios iniciales y finales.                               ║
║         Borra Na                                                            ║
║         Borra duplicados                                                    ║
╚═════════════════════════════════════════════════════════════════════════════╝


╔═════════════════════════════════════════════════════════════════════════════╗
║                               Valores atípicos                              ║
╠═════════════════════════════════════════════════════════════════════════════╣
║     Afecta                                                                  ║
║         NO Modifica datos.                                                  ║
║         Se guarda la información en archivo excel para referencias futuras  ║
║         Se evalua es mediante dos formas                                    ║
║            1) limites intercuartiles 25 y 75 % * desviacion_margen 1.5      ║
║            2) Z-score mayor a desviacion_umbral 3.0                         ║
╚═════════════════════════════════════════════════════════════════════════════╝

NameError: name 'sacar_acentos' is not defined

<div style="background-color:#CCCCCC; padding:10px; border-radius:6px;">
<h2 style="color:black; text-align:center;">Resultados de limpieza</h2>
<p style="color:black;">- Revisados los 3 csv  pasados a DataFrames.</p>
<p style="color:blue;">- DataFrames filtrados.</p>
<p style="color:black;">- Filtrado de Nulos.</p>
<p style="color:black;">- Filtrado de duplicados.</p>
<p style="color:black;">- Sin '', 'na', 'n/a', 'null', 'none', 'sin dato', 's/d', 'nd', '-', '--', '?', 'sin_dato', 'n/d'</p>    
<p style="color:black;">- Normalisados Strings segun reglas. Estilo (lower,string.upper) unicodedata.normalize('NFKD')</p>
<p style="color:black;">- Normalisados precios a float sin signo ($)</p>
<p style="color:black;">- Normalisados Numericos a int o float segun regla</p>    
<p style="color:black;">- Normalisados Fechas segun regla YYYY/MM/DD</p>    
<p style="color:black;">- Resguardo <code>datasets_salida/limpios/clientes_limpio.csv</code>.</p>
<p style="color:black;">- Resguardo <code>datasets_salida/limpios/marketing_limpio.csv</code>.</p>
<p style="color:black;">- Resguardo <code>datasets_salida/limpios/ventas_limpio.csv</code>.</p>
<p style="color:blue;">- Registros filtrados eliminados</p>
<p style="color:black;">- Resguardo <code>datasets_salida/reportes/reporte_limpieza.xlsx</code> con hojas (duplicados borrados, outliers, totales)</p>
</div>

In [ ]:
# 1. Crear df_duplicados_total
print (f"""
{cantidad_duplicados=}
""")
# Filtra las filas donde la columna 'problemas' contiene la subcadena 'duplicado_exacto'
df_duplicados_total = errores_df[errores_df['problemas'].str.contains('duplicado_exacto', case=False, na=False)].copy()

# 2. Crear df_outliers_total
# Filtra las filas donde la columna 'problemas' contiene la subcadena 'outlier_'
df_outliers_total = errores_df[errores_df['problemas'].str.contains('outlier_', case=False, na=False)].copy()

# 3. Crear df_resumen (Combinación y Ordenamiento)
# Concatena los dos DataFrames creados
df_resumen = pd.concat([df_duplicados_total, df_outliers_total])

# Ordena el DataFrame resultante por la columna 'problemas'
df_resumen = df_resumen.sort_values(by="problemas").reset_index(drop=True)
'''
print (f"""
df_duplicados_total
{df_duplicados_total}

{"-"*100}

df_outliers_total
{df_outliers_total}

{"-"*100}
df_resumen
{df_resumen}
{"-"*100}
""")
'''

In [ ]:
# Guardar en Excel con manejo de fallo si no existe el engine
try:
    with pd.ExcelWriter(ruta_excel, engine='openpyxl') as writer:
        try:
            df_duplicados_total.to_excel(writer, index=False, sheet_name='duplicados')
        except Exception:
            pd.DataFrame().to_excel(writer, index=False, sheet_name='duplicados')
        try:
            df_outliers_total.to_excel(writer, index=False, sheet_name='outliers')
        except Exception:
            pd.DataFrame().to_excel(writer, index=False, sheet_name='outliers')
        try:
            df_resumen.to_excel(writer, index=False, sheet_name='resumen_filtros')
        except Exception:
            pd.DataFrame(lista_resumen).to_excel(writer, index=False, sheet_name='resumen_filtros')
    guardado_ok = True
except Exception as e_openpyxl:
    mensajes.append('Error usando openpyxl: ' + str(e_openpyxl))
    try:
        with pd.ExcelWriter(ruta_excel) as writer:
            df_duplicados_total.to_excel(writer, index=False, sheet_name='duplicados')
            df_outliers_total.to_excel(writer, index=False, sheet_name='outliers')
            df_resumen.to_excel(writer, index=False, sheet_name='resumen_filtros')
        guardado_ok = True
    except Exception as e_default:
        mensajes.append('Error sin engine: ' + str(e_default))
        try:
            df_duplicados_total.to_csv(carpeta_reportes / 'duplicados.csv', index=False, encoding='utf-8')
            df_outliers_total.to_csv(carpeta_reportes / 'outliers.csv', index=False, encoding='utf-8')
            df_resumen.to_csv(carpeta_reportes / 'resumen_filtros.csv', index=False, encoding='utf-8')
            mensajes.append('Se guardaron CSVs separados como fallback.')
            guardado_ok = True
        except Exception as e_csv:
            mensajes.append('Error guardando CSV fallback: ' + str(e_csv))
            guardado_ok = False

print('Guardado OK:', guardado_ok)
if mensajes:
    print('Mensajes/Errores durante guardado:')
    for m in mensajes:
        print('-', m)
print('Ruta final esperada del Excel (si guardado):', ruta_excel)
print('Resumen por dataset:')
print(df_resumen)

ventas.csv  análisis de ventas, limpieza de datos y estadísticas descriptivas.
 	
clientes.csv  unirse a las ventas mediante el uso de funciones de combinación para analizar características de los clientes relacionados con sus 	compras.
 	
marketing.csv analizar la efectividad de las campañas de marketing en las ventas y buscar correlaciones.

2) Claves candidatas para merge o concat

Intersecciones observadas:

ventas ∩ marketing → producto (clave natural para unir campañas con ventas por producto)

ventas ∩ clientes → ninguna columna en común

clientes ∩ marketing → ninguna columna en común

Interpretación pedagógica:

Puedes unir ventas con marketing por producto (p. ej. para ver qué canal promocionó qué producto y coste).

No puedes unir directamente ventas con clientes porque ventas_limpio no contiene id_cliente ni email ni nombre_cliente. Para unir ventas↔clientes necesitas:

que ventas_limpio tenga una columna id_cliente (recomendado), o

un fichero/mapeo que vincule id_venta → id_cliente, o

usar correspondencia por email/nombre (menos fiable) si esos campos existieran.

3) Ejemplos de combinaciones útiles (casos prácticos)

Ventas por canal de marketing (recomendado)

Merge ventas_limpio ⟵ marketing_limpio por producto (left join): asignás a cada venta el canal y id_campanha. Luego agrupás por canal para métricas.

Análisis de ticket promedio por categoría y canal

Después del merge anterior, crear monto = precio * cantidad y agrupar por categoria y canal.

Concatenación (vertical)

Si tuvieras varios archivos de ventas de distintos periodos: pd.concat([ventas_periodo1, ventas_periodo2], axis=0).

Unir clientes (si se dispone de id_cliente en ventas)

ventas_limpio.merge(clientes_limpio, on='id_cliente', how='left') → permite segmentar ventas por edad, ciudad, ingresos.

Si no hay id_cliente en ventas

Crear un mapping table (archivo) que contenga id_venta → id_cliente y hacer merge por esa tabla.

4) Código limpio en pandas (listo para ejecutar — adaptá nombres de columnas si quieres otro comportamiento)

In [ ]:

# 3) Tipos y limpiezas básicas
ventas['fecha_venta'] = pd.to_datetime(ventas['fecha_venta'], errors='coerce')
marketing['fecha_inicio'] = pd.to_datetime(marketing['fecha_inicio'], errors='coerce')
marketing['fecha_fin'] = pd.to_datetime(marketing['fecha_fin'], errors='coerce')

# Asegurar numéricos
ventas['precio'] = pd.to_numeric(ventas['precio'], errors='coerce')
ventas['cantidad'] = pd.to_numeric(ventas['cantidad'], errors='coerce')
clientes['ingresos'] = pd.to_numeric(clientes['ingresos'], errors='coerce')
marketing['costo'] = pd.to_numeric(marketing['costo'], errors='coerce')

# 4) Crear columnas útiles
ventas['monto'] = ventas['precio'] * ventas['cantidad']

# 5) Merge ejemplo: ventas + marketing por 'producto' (asignar canal a cada venta)
ventas_marketing = pd.merge(
    ventas,
    marketing[['producto', 'id_campanha', 'canal', 'costo', 'fecha_inicio', 'fecha_fin']],
    on='producto',
    how='left',   # left para conservar todas las ventas aunque no tengan campana asociada
    validate='m:1'  # opcional: espera muchos registros ventas para 1 campaña por producto
)

# 6) Agregados: ventas por canal
ventas_por_canal = (
    ventas_marketing
    .groupby('canal', dropna=False)
    .agg(
        total_monto=('monto', 'sum'),
        cantidad_transacciones=('monto', 'count'),
        ticket_promedio=('monto', 'mean')
    )
    .reset_index()
)

# 7) Agregado: ventas por categoria y canal
ventas_categoria_canal = (
    ventas_marketing
    .groupby(['categoria', 'canal'], dropna=False)
    .agg(
        total_monto     = ('monto', 'sum'),
        transacciones   = ('monto', 'count'),
        ticket_promedio = ('monto', 'mean')
    )
    .reset_index()
)

# 8) Guardar resultados (opcional)
ventas_por_canal.to_csv('/mnt/data/ventas_por_canal.csv', index=False)
ventas_categoria_canal.to_csv('/mnt/data/ventas_categoria_canal.csv', index=False)

# 9) ¿Y clientes? Si tienes id_cliente en ventas:
# ventas_con_clientes = ventas.merge(clientes, on='id_cliente', how='left')

# 10) Checks útiles
# - Ver duplicados en claves: ventas['id_venta'].duplicated().sum()
# - Ver clientes sin ventas: clientes[~clientes['id_cliente'].isin(ventas.get('id_cliente', []))]

Recomendaciones prácticas (breves, accionables)

Si querés unir ventas con clientes agregá id_cliente a ventas_limpio (registro en punto de venta o mapeo).

Revisá duplicados en producto dentro de marketing (puede haber varias campañas por producto: decidir estrategia — por ejemplo filtrar la campaña activa por fecha).

Elegí tipo de join con criterio pedagógico:

left join para preservar todas las ventas (evitar perder datos).

inner join si sólo te interesa el subset con campaña asociada.

Creá fecha de periodo (día/semana/mes) para series temporales: ventas['mes'] = ventas['fecha_venta'].dt.to_period('M').

Documentá supuestos: por qué usás how='left', cómo tratás ventas sin campaña, cómo imputás nulos en precio/cantidad.

Ejemplo aplicado (interpretación cotidiana)

Imaginá a Juan, vendedor en una pyme familiar con 2 hijos. Quiere saber si la campaña en Instagram está trayendo ventas: con el merge ventas + marketing por producto obtiene canal asignado a cada venta. Luego agrupa por canal y ve: “Instagram” tiene muchas visitas pero ticket promedio bajo — decisión: ajustar oferta o dirigir una campaña de cross-sell.

In [ ]:
a mano
ver que es lo que falta en drop na
precios == 0 buscar en categoria el producto o promedo si no hay otro dato
duplicate si el id es =

In [ ]:
productos mas vendidos

In [ ]:
ventas por mes

In [ ]:
git remote set-url origin https://github.com/CursosAGT/nombre-nuevo.git
git push -u origin main
https://github.com/CursosAGT/-GarciaTrabaArielH-Comisi-n25262-TPI_Data_Analytics/blob/main/Garcia%20Traba%20Ariel%20H%20-%20Comisi%C3%B3n%2025262%20-%20TPI%20Data%20Analytics.ipynb
Garcia Traba Ariel H - Comisión 25262 - TPI Data Analytics.ipynb
https://github.com/CursosAGT/-GarciaTrabaArielH-Comisi-n25262-TPI_Data_Analytics/blob/main/datasets_entrada/clientes.csv
https://github.com/CursosAGT/-GarciaTrabaArielH-Comisi-n25262-TPI_Data_Analytics/blob/main/datasets_entrada/marketing.csv
https://github.com/CursosAGT/-GarciaTrabaArielH-Comisi-n25262-TPI_Data_Analytics/blob/main/datasets_entrada/ventas.csv.csv